#post{
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 35px;
    margin: 20px auto;
    box-shadow:rgba(0,0,0,0.08) 0px 1px 7px 0px;
}
@media screen and (max-width: 500px){
  #post{
  	padding-left: 0px;
    padding-right: 0px;
  }
}
#post #article_title{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}
#post .tag{
    color: #000;
    font-size: 22px;
}
#about{
    margin-top: 10px;
}
.post_date,.post_cate,.tags{
    font-size: 12px;
    color: #787878;
    padding-right: 5px;
}
.post_cate a{
    color: #787878;
    font-size: 12px;
}
.tags a{
    color: #787878;
    font-size: 12px;
}
#content{
    line-height: 1.6em;
    color: #424242;
    margin-top: 24px;
}
#content blockquote {
    font-size: 18px;
    font-size: 1rem;
    line-height: 36px;
    font-weight: 300;
    color: #aaa;
    padding-left: 30px;
    position: relative;
    border-left: 4px solid #858585;
    margin: 30px 0px 30px 40px;
}
#content p{
    word-wrap: break-word;
    word-break: break-word;
    margin: 10px 0;
    vertical-align: baseline;
    line-height: 1.8;
}
pre{
    font-size: 13px;
    line-height: 22px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

code{
    font-size: 12px;
    border-radius: 4px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-position:inside
}

#content a,#content p a{
    color: #313131!important;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    margin: 0 5px;
}

#comments{
    max-width: 1000px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 35px;
    margin: 20px auto;
    box-shadow:rgba(0,0,0,0.08) 0px 1px 7px 0px;
}
.comment-author{
    position: relative;
}
.comment-reply-title{
    margin-bottom: 15px;
}
.comment-reply-title span {
    border-left: 4px solid #f44336;
    padding-left: 5px;
}
#comment-author-info>div {
    width: 33.33%;
    box-sizing: border-box;
    padding-right: 10px;
    float: left;
    padding-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #e5e9ef;
    background-color: #f4f5f7;
    resize: vertical;
}
#comment-author-info>div>label {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 3px;
    display: block;
}
button, .btn {
    border: 0;
    background: #eb5055;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    user-select: none;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px 20px;
    line-height: 25px;
    width: auto;
    float: right;
}
.comment-list, .comment-list ol, .comment-list ul {
    list-style: none;
}
.comment-list .comment-list{
    padding-left: 40px;
}
#comments>.comment-list>li {
     padding-top: 20px;
     list-style: none;
     border-bottom: 1px dotted #c6c6c6;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    vertical-align: middle;
    user-select: none;
}
.comment-body {
    position: relative;
    min-height: 55px;
}
.comment-avatar-area {
    position: absolute;
}
cite a{
    text-decoration: none;
    color: #757575;
    font-style: normal;
}
cite{
    text-decoration: none;
    color: #757575;
    font-style: normal;
    position: relative;
    top: -10px;
}
.comment-meta a{
    color: #858585;
    font-size: 12px;
    position: relative;
    top: -25px;
    left: 53px;
}
.comment-meta time{
    font-size: 12px;
}
.comment-content {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0,0,0,.66);
    position: relative;
    top: -20px;
}
.comment-reply{
    padding-bottom: 4px;
}
.comment-reply a{
    border-radius: 4px;
    color: #F44336;
    text-decoration: underline;
    font-size: 13px;
}
.comment-meta a{
    text-decoration: none;
}


/*文章样式*/
:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
}

@include-when-export url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('./github/400.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'),url('./github/400i.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'),url('./github/700.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'),url('./github/700i.woff') format('woff')
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

#content{
    max-width: 900px;
  	margin: 0 auto;
  	padding: 20px 30px 40px 30px;
	padding-top: 20px;
    padding-bottom: 100px;
}
#content > ul:first-child,
#content > ol:first-child{
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}
body > *:last-child {
    margin-bottom: 0 !important;
}
a {
    color: #4183C4;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
#content h1:hover a.anchor,
#content h2:hover a.anchor,
#content h3:hover a.anchor,
#content h4:hover a.anchor,
#content h5:hover a.anchor,
#content h6:hover a.anchor {
    /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
#content h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
#content h2 {
   padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
#content h3 {
    font-size: 1.5em;
    line-height: 1.43;
    padding-bottom: .3em;
    border-bottom: 1px solid #eee;
}
#content h4 {
    font-size: 1.25em;
}
#content h5 {
    font-size: 1em;
}
#content h6 {
   font-size: 1em;
    color: #777;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
#content hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}
body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}
li p.first {
    display: inline-block;
}
#content ul,
#content ol {
    padding-left: 30px;
}
#content ul:first-child,
#content ol:first-child {
    margin-top: 0;
}
#content ul:last-child,
#content ol:last-child {
    margin-bottom: 0;
}
#content blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}
#content blockquote blockquote {
    padding-right: 0;
}
#content table {
    padding: 0;
    word-break: initial;
}
table tr {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}
.task-list{
	padding-left: 0;
}

.task-list-item {
	padding-left:32px;
}

.task-list-item input {
  top: 3px;
  left: 8px;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}
@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

#content pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

#content>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#content>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#content>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#content>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag{
	color: inherit;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}
#content img{
    max-width:100%;
    height:auto;
    border-radius:2px;
    -webkit-box-shadow:0 0 2.6875rem rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0 0 2.6875rem rgba(0, 0, 0, 0.15);
    box-shadow:0 0 2.6875rem rgba(0, 0, 0, 0.15)
}
